@model IEnumerable<ProjektStrona_EG_IG.Models.Zamowienie>

@{
    ViewData["Title"] = "Historia Zamówień - Admin";
}

<h1>Historia Zamówień</h1>

@if (!Model.Any())
{
    <p>Brak zamówień do wyświetlenia.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data Zamówienia</th>
                <th>Użytkownik</th>
                <th>Szczegóły Zamówienia</th>
                <th>Suma</th>
                <th>Płatność</th>
                <th>Dane Użytkownika</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var zamowienie in Model)
            {
                <tr>
                    <td>@zamowienie.DataZamowienia.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@zamowienie.Uzytkownik.Email</td>
                    <td>@zamowienie.SzczegolyZamowienia</td>
                    <td>@zamowienie.Suma zł</td>
                    <td>@zamowienie.Platnosc</td>
                    <td>
                        @zamowienie.DaneUzytkownika
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
