@model IEnumerable<ProjektStrona_EG_IG.Models.Produkt>

@{
    ViewData["Title"] = "Lista Produktów";
}

<h1>Produkty</h1>

<!--Sprawdza, czy użytkownik jest adminem-->
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<!--Lista produktów dostępnych w sklepie-->
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nazwa)</th>
            <th>@Html.DisplayNameFor(model => model.Opis)</th>
            <th>@Html.DisplayNameFor(model => model.Cena)</th>
            <th>Ilość do kupienia</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nazwa)</td>
                <td>@Html.DisplayFor(modelItem => item.Opis)</td>
                <td>@Html.DisplayFor(modelItem => item.Cena)</td>
                <td>
                    <!--Dodawanie produktu do koszyka (przeniesienie produktu po id do akcji w kontrolerze)-->
                    <form asp-action="AddToKoszyk" method="post">
                        <input type="hidden" name="produktId" value="@item.Id" />
                        <input type="number" name="ilosc" min="1" max="@item.IloscDostepna" value="1" class="form-control" style="width: 80px;" />
                        <!--Przycisk wykonujący akcję-->
                        <button type="submit" class="btn btn-primary btn-sm">Dodaj do koszyka</button>
                    </form>
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
