@model IEnumerable<ProjektStrona_EG_IG.Models.Koszyk>

@{
    ViewData["Title"] = "Koszyk";
}

<h1>Koszyk</h1>

<!--Sprawdza, czy model jest pusty-->
@if (!Model.Any())
{
    <p>Twój koszyk jest pusty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Zdjęcie</th>
                <th>Nazwa</th>
                <th>Ilość</th>
                <th>Cena</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ZdjecieUrl" alt="@item.Produkt.Nazwa" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td>@item.Produkt.Nazwa</td>
                    <td>@item.Ilosc</td>
                    <td>@(item.Ilosc * item.Produkt.Cena) zł</td>
                    <td>
                        <!--Usuwanie produktów z koszyka (przesyłanie po id produktu do akcji w kontrolerze)-->
                        <form asp-action="RemoveFromKoszyk" method="post">
                            <input type="hidden" name="koszykId" value="@item.Id" />
                            <!--Przycisk wykonujący akcję-->
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!--Zamawianie produktu (przesyłanie po id produktu do akcji w kontrolerze)-->
    <form asp-action="Zamow" method="post">
        <!--Przycisk do wykonania akcji-->
        <button type="submit" class="btn btn-primary">Zamów teraz</button>
    </form>
    
}
